h1 {
	font-color: black;
	font-weight: bold;
	font-size: 35pt;
}
h2 {
	font-color: black;
	font-weight: bold;
	font-size: 18pt;
	text-align: center;
}
body {
	font-family: Courier New;
	font-color: black;
	font-size: 14pt;
	background-color: rgb(246,245,245);
	background-image: url(https://media0.giphy.com/media/ZO7vWwaYmeHt8XnZxj/giphy.gif?cid=790b7611c5fe9a61df0b86533b9cde154b16812ba24776ad&rid=giphy.gif); 
  background-position: center;
  background-repeat: repeat; 
  background-size: 75%; 
}
ul{
	list-style: none;
	text-align: center;
	display: inline
	font-weight: bold;
}

div.header {
	font-color: black;
	background-color: white;
	border-style: double;
	border-width: 0.1in;
	text-align: center;
}
p.text {
	font-color: black;
	font-size:20px; 
	background-color: rgb(246,245,245);
	text-align: center;;
	border-style: double;
	border-width: 0.04in;

}
p{
	font-color: black;
	font-size:20px; 
	text-align: center;;
	border-style: double;
	border-width: 0.04in;
	background-color: rgb(246,245,245);

}
p.title {
	font-color: black;
	font-size: 13pt;
	background-color: rgb(246,245,245);
	border-style: double;
	border-width: 0.1in;
	text-align: center;
	font-weight: bold;
}
div.video{
    margin-left: 5in;
    margin-right:5in;
    position: center;
}

div.welcome {
	font-family:arial
	background-image: url("software_colorbars_image01.jgp")
}






	